html,body{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
  
a{
    text-decoration: none;
    color: black;
}
  
.myImage{
    width: 14rem;
}
  
@font-face {
    font-family: yekan;
    src: url(../vendor/fonts/YekanV3.0/Yekan.woff);
    font-weight: bold;
}
@font-face {
    font-family: vazir;
    src: url(../vendor/fonts/Farsi-Digits-Non-Latin/fonts/ttf/Vazirmatn-RD-FD-NL-Medium.ttf);
    font-weight: medium;
}
.menu-bar{
    height: 45rem;
    width: 18%;
    position: relative;
}
.menu-bar__header{
    width: 100%;
    height: 100%;
    position: fixed;
}
.menu-bar__header-list{
    padding-right: 3.1rem;
    font-family: yekan;
}
.menu-bar__header-item{
    margin-bottom: 2rem;
}
  
.menu-active-style{
    transition: all 250ms ease-in-out;
    padding-bottom: 0.3rem;
    border-bottom:  2.5px solid rgba(14, 14, 226, 0.788);
    font-size: 1.2rem;
}
.menu-active-style-for-category{
    transition: all 250ms ease-in-out;
    padding-bottom: 0.3rem;
    border-bottom:  2px solid rgba(14, 14, 226, 0.788);
    margin-right: 0.4rem;
}
/* start filtered box */

.filtered-box{
    z-index: 100;
    padding: 2rem 1.5rem;
    border: 2px solid rgba(0, 0, 0, 0.075);
    border-radius: 0.5rem;
    background: aliceblue;
    font-family: yekan;
    width: 18rem;
    height: 41rem;
    margin-top: 2rem;
    position: sticky;
    top: 1rem;
}
.filtered-box-title{
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}
.filtered-box__category-box ,.filtered-box__price-box{
    line-height: 2rem;
    cursor: pointer;
    color: #212529;
    border-bottom: 1px solid rgba(0, 0, 0, 0.075);
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
}
.filtered-box__category-icon ,.filtered-price-icon{
    display: flex;
    align-items: center;
    color: #212529;
    font-size: 0.87rem;
}
.filtered-box__categories-list{
    margin-bottom: 1.5rem;
}
.filtered-box__categories-item {
    margin-bottom: 1.5rem;

}
.filtered-box__categories-list-link {
   color: #212529;
}

.price_range-number-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
    margin-bottom: 1.5rem;
}
.price_range-title{
    color: #212529;
}
.price_range-subtitleText{
    font-size: 0.8rem;
}
.price_number-from-input{
    border: none;
    background: aliceblue;
    border-bottom: 2px solid #adb5bd52;
    outline: none;
    /* direction: rtl; */
    direction: ltr;
    font-weight: bold;
    font-family: 'vazir'
}    
.price_range--input{
    width: 100%;
    
}
.price_range-container{
    margin-bottom: 2rem;
}
.cheapest-text,.expensive-text{
    font-size: 0.85rem;
    color: #212529;
}
.available-product-box,.discount-product-box{
    line-height: 3rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.075);
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
}
.available-product-text,.discount-product-text{
    cursor: pointer;
}
.lableForFirstCheckBox,.lableForSecondCheckBox{
    display: flex;
    align-items: center;
}
.myCheckbox1{
    display: none;
    visibility: hidden;
}
.check1{
    width: 50px;
    height: 20px;
    display: flex;
    background-color: #dee2e6;
    box-shadow: 0 0 6px #adb5bd;
    position: relative;
    border-radius: 20px;
    transition:all ease-in 0.2s;
    cursor: pointer;
}
.check1::after{
    content: '';
    position: absolute;
    top: 1.5px;
    left: 2px;
    background-color: #8c8e90;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    transition: 0.5s;
}
.myCheckbox1:checked ~ .check1::after{
    transform: translateX(30px);
    background-color: #0d6efd;
}
.myCheckbox1:checked ~ .check1{
    background-color: rgba(13,110,253,.25);
}
.myCheckbox2{
    display: none;
    visibility: hidden;
}
.check2{
    width: 50px;
    height: 20px;
    display: flex;
    background-color: #dee2e6;
    box-shadow: 0 0 6px #adb5bd;
    position: relative;
    border-radius: 20px;
    transition:all ease-in 0.2s;
    cursor: pointer;
}
.check2::after{
    content: '';
    position: absolute;
    top: 1.5px;
    left: 2px;
    background-color: #8c8e90;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    transition: 0.5s;
}
.myCheckbox2:checked ~ .check2::after{
    transform: translateX(30px);
    background-color: #0d6efd;
}
.myCheckbox2:checked ~ .check2{
    background-color: rgba(13,110,253,.25);
}
/* finish filtered box */

.product-container{
    z-index: 100;
    font-family: 'yekan';
    width: 69%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.product-container-link:hover{
    color: #212529;
}
.product-container-link-box-image{
    width: 100%;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
}
.product-container-link{
    box-shadow: 0 0 10px #adb5bd;
    border-radius: 0.3rem;
    margin: 1rem 0.7rem;
    padding: 0;
}
.product-container-link-box-title{
    font-size: revert;
    text-align: center;
    margin: 1rem 0;
}
.product-container-link-box-paragraph{
    text-align: center;
    margin: 1rem 0;
    font-size: 0.8rem;
    color: red;
}
.product-container-link-box-priceBox{
    padding: 1rem;
}
.product-container-link-box-price-and-discount{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.product-container-link-box-discount{
    font-family: cursive;
    padding: 0.3rem;
    background-color: #ef394e;
    border-radius: 2rem;
    color: white;
}
.product-container-link-box-discountPrice{
    font-family: vazir;
}
.product-container-link-box-prevPrice{
    display: flex;
    justify-content: end;
    font-family: 'vazir';
    /* margin-left: 2.2rem; */
    text-decoration: line-through;
    text-decoration-color: red;
    color: #8b8b8b;
}